.articulos{
    width: 100%;
    height: 100%;
    padding: 2rem 0 0 1rem;
    background-color: $color-primario;
    
}
.articulo{
    margin-bottom: 7.5rem;
    border-bottom: 0.3rem solid $color-secundario;
    &__categoria{
        font-weight: 500;
        font-size: 1.6rem;
        color: $color-secundario;
        @include titulos($fuente2);
    }
    &__titulo{
        font-size: 2rem;
        @include titulos($fuente2);
        color: $color-claro;
    }
    &__descripcion{
        margin-bottom: 3rem;
        padding-right: 10rem;
        font-size: 1.8rem;
        color: $color-claro;
    }
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: $color-primario;
    border-top: 2px solid $color-secundario;
    justify-content: center;
    &__link{
        @extend .perfil__nombre;
        text-decoration: none;
    }
    &__name{
        @extend .perfil__titulo;
        color: rgba($color-claro, 0.8);
    
    }

}