.galeria {
	width: 80%;
	height: auto;
	margin: 3rem auto;
	margin-bottom: 4rem;
	padding: 3rem 0 0 3rem;
	justify-content: space-evenly;
	@include caja;
	&__foto-principal {
		float: left;
		margin-right: 10px;
		
	}
	&__fotos-adicionales img {
		height: 70px;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	h2 {
		margin-bottom: 10px;
	
		font-weight: 600;
		font-size: 20px;
		@include titulos($fuente1);
	}
	img {
		border-radius: 10px;
	}
}